<h2>Add new</h2>
<% if flash[:message] %>
  <p class="bg-danger"><%= flash[:message] %></p>
<% end %>
<% if @word.errors.any? %>
  <% @word.errors.full_messages.each do |message| %>
    <p class="bg-danger"><%= message %></p>
  <% end %>
<% end %>
<%= nested_form_for [:admin, @word] do |f| %>
  <%= render "fields", f: f %>
  <%= f.submit "Save", class: "btn btn-success" %>
<% end %>