<%= form_for @user, :html => { class: 'form-signin' } do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <p class="bg-danger"><%= message %></p>
    <% end %>
  <% end %>
  <div class="form-group">
    <%= f.label :Fullname %>
    <%= f.text_field :fullname, class: 'form-control', placeholder: 'Input fullname...' %>
  </div>
  <div class="form-group">
    <%= f.label :Email %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'Input email...' %>
  </div>
  <div class="form-group">
    <%= f.label :Password %>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Input password...' %>
  </div>
  <div class="form-group">
    <%= f.label :Confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Input password confirmation...' %>
  </div>
  <%= f.submit 'Save', class: 'btn btn-success' %>
<% end %>