<% if flash[:message] %>
  <p class="bg-danger"><%= flash[:message] %></p>
<% end %>
<%= form_for @word do |f| %>
  <div class="form-group">
    <%= f.label :Name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Input name...' %>
  </div>
  <div class="form-group">
    <%= f.label :Mean %>
    <%= f.text_field :mean, class: 'form-control', placeholder: 'Input mean...' %>
  </div>
  <div class="form-group">
    <%= f.label :Categories %>
    <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: false }, { class: 'form-control' } %>
  </div>
  <%= f.submit 'Save', class: 'btn btn-success' %>
<% end %>